{% extends 'master_header.html' %}
{% block content %}


  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-9">
        <h1 class="heading-9">Standardized queries</h1>
  <div class="w-container">
    <li class="heading-3">Get only quasars</li>
    <li class="heading-3">Get only contaminants</li>
    <li class="heading-3">Get only confirmed lenses</li>
    <li class="heading-3">Get the latest entries in the database</li>
    <li class="heading-3">other...</li>
  </div>

  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-9">
        <h1 class="heading-9">Collections</h1>
  <div class="w-container">
    <li class="heading-3">CASTLES</li>
    <li class="heading-3">SLACS</li>
    <li class="heading-3">TDcosmo</li>
    <li class="heading-3">HoliCow</li>
    <li class="heading-3">other...</li>
  </div>


{% endblock content %}
